body {
    background-color: #bfdccf;
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: white;
}

h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-shadow: 0px 10px 28px rgba(85, 92, 77, 0.3);
}

.container {
    display: grid;
    justify-items: center;
}

.generated-text {
    border: 0.2rem solid white;
    border-radius: 10px;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1.2px;
    text-align: center;
    width: 70%;
    background-color: #d5c9b1;
    box-shadow: 0 14px 28px rgba(85, 92, 77, 0.3);
}

.timer {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.2em;
}

.correct-typing {
    background-color: #5f968e;
    border-radius: 5px;
}

.incorrect-typing {
    background-color: #e05858;
    border-radius: 5px;
}

input {
    border: 0.2rem solid white;
    border-radius: 50px;
    width: 50%;
    height: 30px;
    margin: 1rem;
    font-size: 1.2rem;
    color: #5f968e;
    letter-spacing: 1.2px;
    background-color: #bfdccf;
    word-wrap: break-word;
    box-shadow: 0 14px 28px rgba(85, 92, 77, 0.3);
    padding-right: 2.5em;
    text-align: center;
}

input:focus {
    outline: 0;
    border: 0.2rem solid #5f968e;
}

button {
    margin: 1rem;
    background-color: #d5c9b1;
    color: white;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0.2rem solid white;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    box-shadow: 0 14px 28px rgba(13, 22, 3, 0.3);
}

button:hover {
    background-color: #5f968e;
}

button:focus {
    outline: 0;
}

a {
    color: #5f968e;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-shadow: 0 14px 28px rgba(85, 92, 77, 0.3);
}

/*progress-bar*/

.progress-bar {
    margin: 1rem;
    width: 50%;
    height: 30px;
    border: 0.2rem solid white;
    border-radius: 50px;
    box-shadow: 0 14px 28px rgba(85, 92, 77, 0.3);
}

.loading-progress {
    background-color: #5f968e;
    min-width: 6%;
    height: 30px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
}

.error {
    width: 100%;
    background-color: #e05858;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

/*progress-bar*/

/* ---- part 2 in progress ---- */

.register {
    background-color: #5f968e;
    position: absolute;
    height: 10rem;
    width: 20rem;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.close-x {
    padding-left: 90%;
    border: 0.2rem solid black;
}
