body {
    background-color: #bfdccf;
    text-align: center;
}

h2 {
    color: white;
}

.text-container {
    border: 0.1rem solid black;
    display: flex;
    flex-direction: row;
}

.generated-text {
    border: 0.1rem solid black;
    text-align: justify;
    width: 60%;
    height: auto;
}

input {
    visibility: hidden;
}

.typing {
    width: 60%;
    height: 5rem;
    border: 0.1rem solid black;
}

.correct-typing {
    color: #d5c9b1;
}

.incorrect-typing {
    color: #e05858;
}

button {
    margin: 2rem;
    background-color: #d5c9b1;
}

/*progress-bar*/

.progress-bar {
    margin: 1rem;
    width: 95%;
    height: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.3);
    border-radius: 50px;
}

.loading-progress {
    background-color: #5f968e;
    min-width: 3%;
    height: 20px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: sans-serif;
    font-size: 11px;
    padding-right: 0.5rem;
    padding-left: 1rem;
}

.error {
    width: 100%;
    background-color: #e05858;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

/*progress-bar*/

/* ---- part 2 in progress ---- */
.register {
    background-color: rgb(100, 149, 237);
    position: absolute;
    height: 10rem;
    width: 20rem;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.close-x {
    padding-left: 90%;
    border: 0.2rem solid black;
}
